<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Users</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
  <body>
    <div class='container'>
      <h1>Please sign up here!</h1>

      <h1>Here are your users:</h1>

      <div>
        {% if users %}
          <ol>
          {% for user in users %}
            <li>User Info</li>
            <ul>
              <li>{{ user.first_name }}</li>
              <li>{{ user.last_name }}</li>
              <li>{{ user.email }}</li>
            </ul>
          {% endfor %}
          </ol>
        {% else %}
          <p>No users records found</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
